<ul class="koadev-articles-preview">
  <li class="article-item flex column g-16 bc-background-100">
    <div class="article-top flex main-between">
      <div class="flex cross-center g-16">
        <img class="article-top__image" src="https://placeimg.com/40/40/all" />
        <div class="article-top__text flex column g-4">
          <h3 class="fp-2 tc-foreground-200">Joaby Oliveira</h3>
          <p class="fc-1 tc-foreground-50">17/12/2022</p>
        </div>
      </div>
      <ul class="tags-list flex g-8 tc-foreground-50">
        <li class="tags-list__item flex cross-center bc-background-50">#css</li>
        <li class="tags-list__item flex cross-center bc-background-50">#js</li>
        <li class="tags-list__item flex cross-center bc-background-50">
          #node
        </li>
      </ul>
    </div>
    <div class="flex column g-8">
      <h2 class="article__title ft-3 tc-foreground-200">
        Modo dark apenas com CSS
      </h2>
      <article class="article__content fp-1 tc-foreground-50">
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi.
          Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla,
          mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis
          tellus in hendrerit ultrice...
        </p>
      </article>
    </div>
  </li>
</ul>
