.koadev-layout {
  height: 100vh;
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    column-gap: 2rem;
    koadev-authors {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    koadev-tags {
      grid-column-start: 10;
      grid-column-end: 13;
    }
    koadev-articles-preview {
      grid-column-start: 4;
      grid-column-end: 10;
    }
    @media screen and (max-width: 960px) {
      grid-template-columns: repeat(8, 1fr);
      row-gap: 2rem;
      koadev-authors {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
      }
      koadev-tags {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 2;
      }
      koadev-articles-preview {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 3;
      }
    }
  }
}
