$primary-50: #1a0914;
$primary-100: #662851;
$primary-150: #b34d8c;
$primary-200: #ff79c6;
$primary-250: #f7a9d6;
$primary-300: #f6d2e7;
$primary-350: #fcf5f9;

$secondary-50: #041a0a;
$secondary-100: #15662c;
$secondary-150: #2eb351;
$secondary-200: #50fa7b;
$secondary-250: #8ef2a8;
$secondary-300: #c4f2d0;
$secondary-350: #f2faf4;

$yellow-50: #1a1a0b;
$yellow-100: #666631;
$yellow-150: #aeb35c;
$yellow-200: #f0f5b5;
$yellow-250: #f1fa8c;
$yellow-300: #f3f6d8;
$yellow-350: #fbfcf6;

$purple-50: #130c1a;
$purple-100: #4a3466;
$purple-150: #8361b3;
$purple-200: #bd93f9;
$purple-250: #d2b9f5;
$purple-300: #e6dbf6;
$purple-350: #f9f7fc;

$blue-50: #0b191a;
$blue-100: #306266;
$blue-150: #5ba7b3;
$blue-200: #8be9fd;
$blue-250: #b4ebf7;
$blue-300: #d8f1f7;
$blue-350: #f6fbfc;

$foreground-50: #b0b0a7;
$foreground-100: #c8c8c0;
$foreground-150: #e0e0d9;
$foreground-200: #f8f8f2;

$background-50: #282a36;
$background-100: #3b3e4c;
$background-150: #4f5262;
$background-200: #646677;
