$title-1: 400 3rem / 120% Fira Code;
$title-2: 500 2.25rem / 120% Fira Code;
$title-3: 600 1.5rem / 120% Fira Code;
$title-4: 700 1.125rem / 120% Fira Code;

$paragraph-1: 400 1rem/140% Raleway;
$paragraph-2: 400 0.875rem / 140% Raleway;
$caption-1: 400 0.75rem / 140% Raleway;
$button-1: 400 1rem / 140% Fira Code;
